section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    margin-top: 4.5rem;
  }
  article {
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: 1px solid #dee2e6;
  }
  article > h1 {
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  .head {
    grid-column: 1/3;
  }
  .col-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    margin: 1em;
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .col-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    margin: 1em;
    text-align: center;
  }
  .col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
    text-align: center;
  }
  /*CIPBITS*/
  .cipbits {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .cipbitsActive {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    right: 10px;
    cursor: pointer;
    overflow: visible;
    border: 3px solid white;
  }
  .cipbits::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -150%;
    top: -150%;
    width: 400%;
    height: 400%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 55%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(#6c757d, #6c757d), linear-gradient(#fff, #fff),
      linear-gradient(#6c757d, #6c757d);
    animation: rotate 6s linear infinite;
  }
  .cipbits::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3.5px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #6c757d;
    border-radius: 5px;
  }
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .text {
    text-align: center;
    top: 5px;
    position: relative;
    color: white;
  }
  
  /*drop*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 125px;
    top: 11px;
    background-image: linear-gradient(#6c757d, #000000);
    width: 300px;
    height: 350px;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 5s;
  }
  .show {
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 5s;
  }
  /*Carousel*/
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  .mySlides {
    display: none;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 71%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .texts {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 75px;
    width: 100%;
    text-align: center;
  }
  .texts select {
    background-color: transparent;
    color: #ffffff;
    border: none;
    appearance: none;
  }
  .texts select option {
    background-color: black;
    color: #fff;
    border: none;
    appearance: none;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .text-content {
    position: absolute;
    top: 35%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 13px;
    color: white;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
  @media (max-width: 480px) {
    section {
      display: block;
      margin: 0;
      margin-top: 4.5rem;
    }
    article {
      margin: 1rem;
      margin-left: 0;
      margin-right: 0;
    }
    .hide {
      display: none;
    }
    #cipbits-movil {
      display: block;
    }
    .dropdown-content {
      right: 106px;
      top: 24px;
    }
    .cipbits {
      top: 2px;
    }
    #cipbits {
      display: none;
    }
    #open {
      display: block;
    }
    .sliderdown {
      cursor: pointer;
      padding-left: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      color: #ffffff;
      text-decoration: none;
    }
    .sidenav-right a {
      padding: 16px 8px 8px 24px;
    }
    .col-6 {
      overflow: scroll;
    }
  }
  