* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f8f9fa;
}
.c-grey {
  background-color: #6c757d;
}
.c-bluelight {
  background-color: #cce5ff;
}
.c-greylight {
  background-color: #e2e3e5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.headers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 15px;
  padding-right: 15px;
}
.frag4 {
  display: grid;
  grid-template-columns: 13% 37% 13% 37%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 0.5em;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
}
.item {
  border-radius: 0.3rem;
  margin: 1em;
  padding: 0.75em;
}
.content > .item {
  margin: 0;
  padding: 1em;
  margin-bottom: 1em;
}
.inputsone {
  display: grid;
  grid-template-columns: 25% 73%;
}
.inputstree {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 3em;
}
.inputsfour {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 1em;
}
.inputstwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  padding-left: 1em;
}
label {
  font-size: inherit;
  line-height: 2.5;
  margin-left: 1em;
}
input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.inputstwo > .form-control {
  margin-bottom: 0;
}
.inputstwo > label {
  margin-left: 0;
}
.form-control {
  margin-bottom: 1em;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.inputstree > input {
  height: 1em;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.center {
  display: flex;
  justify-content: center;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-green {
  color: #f8f9fa;
  background-color: #28a745;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.float-right {
  float: right !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.7;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.m-1 {
  margin-top: 1em !important;
}
.card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.btn-blue {
  color: #f8f9fa;
  background-color: #007bff;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.centro {
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.margin {
  margin: 1em;
}
