* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Colors */
.c-grey {
  background-color: #6c757d;
}
.c-greylight {
  background-color: #c1c6c9;
}
.c-green {
  background-color: #28a745;
}
.c-black {
  background-color: #000000;
}
.c-purple {
  background-color: #c135e6;
}
.c-yellow {
  background-color: #f2cb57;
}
.c-orange {
  background-color: #f25e3d;
}
.c-magenta {
  background-color: #cf3476;
}
.c-navyblue {
  background-color: #0c3ce8;
}
.c-red {
  background-color: #dc3545;
}
.c-bluelight {
  background-color: #17a2b8;
}
.c-blue {
  background-color: #007bff;
}
/* /colors */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 41px;
}
nav > div > a {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
}
nav > a {
  text-decoration: none;
}
nav > a:hover {
  font-size: 110%;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #303030;
  transition: 0.5s;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #c1c6c9;
  min-width: 254px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  transition: 0.5s;
}
.dropdown-content1 a {
  color: #000000;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.dropdown-content1 a:hover {
  background-color: #d9dcdf;
  font-size: 110%;
  color: #303030;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown1:hover .badge {
  font-size: 110%;
  color: #000000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.t-white {
  color: #ffffff;
}
.none {
  text-decoration: none;
}
/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  width: 100px;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-blue {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-blue:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
/* Buttons */
.input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
section {
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  margin-top: 4.5rem;
}
#tittle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1em;
}
.input {
  margin-bottom: 1.5em;
}
input[type="text"] {
  border: none;
  border-bottom: 4px solid rgba(40, 167, 69, 0.5);
  width: 300px;
  padding: 0.75em;
  padding-bottom: 0.3em;
  border-radius: 0.25rem;
  font-size: 18px;
  transition: 0.5s;
}
input[type="text"]:focus {
  border: none;
  border-bottom: 4px solid #28a745;
  width: 500px;
  transition: 0.5s;
  outline-width: 0;
}
.conteiner {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 1rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.item + .item {
  border-top-width: 0;
}
.conteiner:first-child,
.item:first-child {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.conteiner:last-child,
.item:last-child {
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.right {
  float: right;
  margin-left: 1rem;
}
.inline {
  display: inline;
}
.item span {
  line-height: 2em;
}
.none {
  text-decoration: none;
}
.link:hover,
.none:hover {
  text-decoration: underline;
}
/* Slider */
.sidenav {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(13, 30px);
  grid-gap: 10px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}
.sidenav-right {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}
.float-left {
  float: left !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.7;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding-left: 1.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.float-right {
  float: right !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.7;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#open {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav-right a {
  padding: 24px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav-right button {
  margin: 16px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition: 0.3s;
}
#cipbits-movil {
  display: none;
}
.sidenav a:hover {
  color: #cccccc;
  font-size: 110%;
}
.link {
  color: #007bff;
}
.link:hover,
.none:hover {
  text-decoration: underline;
}
#close {
  display: none;
}
.note {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.4em;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* / slider */
/*CIPBITS*/
.cipbits {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cipbitsActive {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  right: 10px;
  cursor: pointer;
  overflow: visible;
  border: 3px solid white;
}
.cipbits::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -150%;
  top: -150%;
  width: 400%;
  height: 400%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 55%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(#6c757d, #6c757d), linear-gradient(#fff, #fff),
    linear-gradient(#6c757d, #6c757d);
  animation: rotate 6s linear infinite;
}

.cipbits::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3.5px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #6c757d;
  border-radius: 5px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.text {
  text-align: center;
  top: 5px;
  position: relative;
  color: white;
}
/*drop*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 125px;
  top: 11px;
  background-image: linear-gradient(#6c757d, #000000);
  width: 300px;
  height: 350px;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 1s;
}
.show {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 5s;
}
/*Carousel*/
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 71%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.texts {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 75px;
  width: 100%;
  text-align: center;
}
.texts select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  appearance: none;
}
.texts select option {
  background-color: black;
  color: #fff;
  border: none;
  appearance: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.text-content {
  position: absolute;
  top: 35%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 13px;
  color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.movil {
  display: none;
}
@media (max-width: 480px) {
  input[type="text"]:focus {
    width: auto;
  }
  input[type="text"] {
    width: auto;
  }
  .conteiner {
    width: auto;
  }
  .item span {
    text-align: center;
    line-height: 2em;
    display: block;
  }
  .item a {
    margin: 5px;
    float: none;
    display: block;
  }
  .movil {
    display: block;
  }
  .inline {
    display: none;
  }
  #cipbits {
    display: none;
  }
  #Docs {
    display: none;
  }
  #Review {
    display: none;
  }
  #open {
    display: block;
  }
  nav > a {
    cursor: pointer;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
  }
  #cipbits-movil {
    display: block;
  }
  .dropdown-content {
    right: 106px;
    top: 24px;
  }
  .cipbits {
    top: 2px;
  }
}
