* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Colors */
.c-blueshield {
  background-color: #1b4368;
}
.c-greendollar {
  background-color: #325c3e;
}
.c-grey {
  background-color: #6c757d;
}
.c-greylight {
  background-color: #c1c6c9;
}
.c-green {
  background-color: #28a745;
}
.c-black {
  background-color: #000000;
}
.c-purple {
  background-color: #c135e6;
}
.c-yellow {
  background-color: #b39640;
}
.c-orange {
  background-color: #f25e3d;
}
.c-magenta {
  background-color: #cf3476;
}
.c-navyblue {
  background-color: #0c3ce8;
}
.c-red {
  background-color: #dc3545;
}
.c-bluelight {
  background-color: #17a2b8;
}
.c-blue {
  background-color: #007bff;
}
.down {
  color: #dc3545;
}
.up {
  color: #28a745;
}
.t-blue {
  color: #007bff;
}
.t-white {
  color: #ffffff;
}
.t-black {
  color: #303030;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 2;
  height: 41px;
}
nav > a {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-blue {
  color: #afd6ff;
  border-color: #007bff;
}
.btn-outline-blue:hover {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-blue {
  color: #fff;
  background-color: #0c3ce8;
}
.btn-blue:hover {
  color: #fff;
  background-color: #1b4368;
}
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.btn-green {
  color: #f8f9fa;
  background-color: #28a745;
}
#header {
  background-image: url("./bg1.jpg");
  overflow: visible;
  border-width: 0;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide {
  position: absolute;
  right: 182px;
  top: 150px;
  animation: animate 142s linear infinite;
  transform: rotateY(90deg);
}
.slidelogo {
  position: absolute;
  right: 13%;
  top: 17%;
  animation: animatelogo 142s linear infinite;
  transform: rotateY(90deg);
}
.slidelogo img {
  object-fit: cover;
  height: 400px;
  transform: rotateY(180deg);
}
.slide img {
  object-fit: cover;
  height: 400px;
  transform: rotateY(180deg);
}

.slidelogo:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 10s;
}
.slide:nth-child(3) {
  animation-delay: 18.5s;
}
.slide:nth-child(4) {
  animation-delay: 27s;
}
.slidelogo:nth-child(5) {
  animation-delay: 35.5s;
}
.slide:nth-child(6) {
  animation-delay: 45.5s;
}
.slide:nth-child(7) {
  animation-delay: 54s;
}
.slide:nth-child(8) {
  animation-delay: 62.5s;
}
.slidelogo:nth-child(9) {
  animation-delay: 71s;
}
.slide:nth-child(10) {
  animation-delay: 81s;
}
.slide:nth-child(11) {
  animation-delay: 89.5s;
}
.slide:nth-child(12) {
  animation-delay: 98s;
}
.slidelogo:nth-child(13) {
  animation-delay: 106.5s;
}
.slide:nth-child(14) {
  animation-delay: 116.5s;
}
.slide:nth-child(15) {
  animation-delay: 125s;
}
.slide:nth-child(16) {
  animation-delay: 133.5s;
}
@keyframes animate {
  0% {
    transform: rotateY(90deg);
  }
  3%,
  4% {
    transform: rotateY(180deg);
  }
  5.5% {
    opacity: 1;
  }
  5.98%,
  100% {
    opacity: 0;
    transform: rotateY(270deg);
  }
}
@keyframes animatelogo {
  0% {
    transform: rotateY(90deg);
  }
  2.5%,
  4.5% {
    transform: rotateY(180deg);
  }
  6.8% {
    opacity: 1;
  }
  7.04%,
  100% {
    opacity: 0;
    transform: rotateY(270deg);
  }
}
@keyframes example {
  0% {
    opacity: 0;
    background-position-x: -1500px;
  }
  100% {
    opacity: 1;
    background-position-x: 0px;
  }
}
#main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 1em;
  margin-top: 5rem;
}
article {
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #dee2e6;
  grid-column: 5/9;
}
article > h1 {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}
.form {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 1em;
  gap: 1em;
}
label {
  line-height: 3;
  margin-left: auto;
}
.botton {
  grid-column: 1/-1;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
input,
select {
  border: 2px solid rgba(128, 128, 128, 0.5);
  padding: 0.3em;
  border-radius: 0.25rem;
  font-size: 18px;
  transition: 0.5s;
}
input:focus {
  border: 2px solid rgba(128, 128, 128, 1);
}
.list {
  width: 570px;
  grid-template-columns: repeat(1, 100%);
  height: auto;
  grid-gap: 10px;
  margin: 30px auto 60px 100px;
  padding-top: 100px;
}
.text1 {
  width: 570px;
  display: grid;
  grid-template-columns: 10% 90%;
  height: auto;
  grid-gap: 10px;
  margin: 30px auto 0 100px;
  padding-top: 100px;
  font-weight: 700;
}
.text3 {
  width: 570px;
  display: grid;
  grid-template-columns: 10% 90%;
  height: auto;
  grid-gap: 10px;
  margin: 0 auto 0 100px;
  padding-top: 50px;
  font-weight: 700;
}
.text2 {
  width: 570px;
  grid-template-columns: repeat(1, 100%);
  height: auto;
  grid-gap: 10px;
  margin: 5px 570px 0 125px;
}
.circle {
  display: table;
  border-radius: 50%;
  background-color: #e5f5fe;
  height: 40px;
  opacity: 0.8;
}
.icon {
  display: block;
  height: 35px;
  width: 35px;
  background-image: none;
  line-height: 0;
  margin: 10px;
  animation-name: icon;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
@keyframes icon {
  from {
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
  }
  to {
    opacity: 100;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.icon2 {
  display: block;
  height: 50px;
  width: 50px;
  background-image: none;
  line-height: 0;
  margin: 2.5px;
  animation-name: icon;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
#image {
  background-image: url("./minilogo.jpg");
  overflow: visible;
  background-repeat: repeat;
}
#tilt {
  display: block;
  height: 700px;
  width: auto;
  transition: transform 0.1s;
  background-image: url(./x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 1s;
}
#image #logo1 {
  position: relative;
  top: 180px;
  height: 350px;
  left: 13%;
}
#image .title {
  position: absolute;
  text-align: center;
  padding-top: 2rem;
  left: 34%;
  font-size: xx-large;
}
#image #logo2 {
  position: relative;
  top: 180px;
  height: 350px;
  left: 41%;
}
.icon3 {
  animation-name: icon;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}
#Digitize {
  background-image: url("./ai.jpg");
  /* background-image: linear-gradient(to right, #1b4368, #c1c6c9); */
  overflow: visible;
  border-width: 0;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50;
}
.Digitize {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  padding: 9.5rem;
}
.lower {
  text-align: center;
  color: white;
  z-index: 1;
  font-size: 4rem;
  animation-name: lower;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 616px;
  transform: scaleY(0.7);
}
@keyframes lower {
  to {
    font-size: 4rem;
  }
  from {
    font-size: 4rem;
  }
}

.blur {
  border-radius: 50%;
  background-color: #fff;
  height: 50px;
  width: 50px;
  filter: blur(8px);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  top: -65px;
  opacity: 0.3;
  animation-name: blur;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blur {
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  from {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

hr {
  grid-column: 2/5;
}
.size {
  font-size: 22px;
}
footer {
  padding: 0.5rem 1rem;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  text-align: center;
}
.circle2 {
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 55px;
  background-color: #c1c6c9;
  height: 100px;
  width: 400px;
  transition: 0.5s;
}
.firstcircle2 {
  margin-left: auto;
}
.circle2:hover {
  background-color: #a9aeb1;
}
.circle2:hover,
.circle2:hover .icon4,
.circle2:hover .h1 {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-body .circle2 {
  height: 75px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}
.modal-body .circle2:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background-color: #a9aeb1;
}
.modal-body .h1 {
  transition: 0.5s;
  line-height: 3;
  text-align: center;
}
.modal-body .icon4 {
  height: 50px;
}
.icon4 {
  height: 60px;
  width: 80px;
  line-height: 0;
  margin: auto;
  transition: 0.5s;
}

.tittle {
  display: grid;
  grid-template-columns: 10% 90%;
}
#register .h1 {
  line-height: 4;
  transition: 0.5s;
}
.all {
  grid-column: 1/3;
  padding-top: 5rem;
}
.register {
  margin-top: 6rem;
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
}
.all2 {
  grid-column: 1/3;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.conteiner {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  transition: 0.5s;
}
.back {
  position: fixed;
  top: 25%;
  background-color: #c1c1c1;
  padding: 1rem 0.5rem 1rem 2rem;
  border-radius: 20px;
  left: -15px;
}
.back span {
  font-weight: 900;
  font-size: 22px;
  color: white;
}
.col2 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  transition: 0.5s;
  background-color: #436e8b;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
  text-align: center;
}
.col2 .cards {
  border: 7px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: 0.5s;
}
.col2 .flip {
  display: none;
  transform: rotateY(180deg);
}
.col2 .cards:hover,
.col2 .cards:active {
  -webkit-transform: scale(1.1) rotateY(180deg);
  -moz-transform: scale(1.1) rotateY(180deg);
  -o-transform: scale(1.1) rotateY(180deg);
  transform: scale(1.1) rotateY(180deg);
  background-color: #1b4368;
}
.col2 .cards:hover .front,
.col2 .cards:active .front {
  display: none;
}
.col2 .cards:hover .flip,
.col2 .cards:active .flip {
  display: grid;
}
.col2 div p {
  font-size: large;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.col2 div img {
  height: 80px;
}
.like {
  width: 40px;
}
.Provides {
  display: grid;
  grid-template-columns: 57% 43%;
}
.Provides h1 {
  margin-left: auto;
  line-height: 2.5;
  margin-right: 1rem;
}
.get {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 500px;
  height: 111px;
  padding: 20px;
  line-height: 24px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #ececec;
  transition: 0.5s;
}
.card p {
  height: 72px;
  overflow: hidden;
}
.card:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}
.card h3 {
  margin-bottom: 15px;
}
.card:hover h3 {
  color: #0c3ce8;
}
.card:hover {
  transform: translateY(-5px);
  height: auto;
}
.card:hover p {
  height: auto;
}
.scale {
  animation-name: scale;
  animation-duration: 0.7s;
}
@keyframes scale {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.animation {
  animation-name: animation;
  animation-duration: 1.5s;
}
@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.left {
  margin-left: 18rem;
  margin-right: auto;
  font-size: 20px;
}
.right {
  margin-left: 5rem;
  margin-right: auto;
  font-size: 20px;
}
/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(161, 161, 161);
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 1rem;
  background-color: #1b4368;
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal-body {
  padding: 1rem;
}
.sign {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.modal-footer {
  padding: 1rem;
  background-color: #1b4368;
  color: white;
}

/* /modal */
.invite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.invite label {
  font-size: 18px;
}
.invite button {
  margin: auto;
}
.movil {
  display: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  #tilt {
    height: 300px;
    background-image: url("./xmovil.png");
  }
  .slidelogo {
    right: 87px;
    top: 65px;
  }
  .slidelogo img {
    height: 300px;
  }
  .slide {
    right: 72px;
    top: 100px;
  }
  .slide img {
    height: 260px;
  }
  #header {
    background-image: url("./bg-movil1.jpg");
    background-size: cover;
    margin-top: 3.5rem;
    animation-name: example;
    animation-duration: 1s;
  }
  #main {
    display: block;
  }
  .text1 {
    margin: auto auto auto 25px;
    grid-gap: 30px;
    width: 350px;
    padding-top: 450px;
  }
  .text2 {
    width: 340px;
    margin: auto auto auto 50px;
  }
  .text3 {
    margin: auto auto auto 25px;
    grid-gap: 30px;
    width: 350px;
  }
  #nonemovil {
    display: none;
  }
  .three {
    padding-bottom: 2rem;
  }
  #register {
    gap: 1rem;
    margin-top: 6rem;
  }
  .all {
    padding-top: 2rem;
  }
  .circle2 {
    display: grid;
    grid-template-columns: none;
    border-radius: 1rem;
    background-color: #c1c6c9;
    height: 125px;
    width: 190px;
    transition: 0.5s;
  }
  #register .h1 {
    line-height: inherit;
    transition: 0.5s;
    font-size: 20px;
  }
  .card {
    grid-column: 1/-1;
  }
  .card:nth-child(2n) {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .card p {
    height: auto;
  }
  .Provides {
    grid-template-columns: 71% 52%;
  }
  .all2 {
    grid-column: 1/3;
    padding-top: 0;
    padding-bottom: 0;
  }
  .left {
    margin-left: 0px;
    margin-right: auto;
    font-size: 16px;
    text-align: initial;
    padding-left: 1rem;
  }
  .right {
    margin-left: 0;
    margin-right: auto;
    font-size: 16px;
    text-align: initial;
    padding-right: 1rem;
  }
  .col2 {
    background-image: linear-gradient(110deg, #1b4368, #c1c6c9);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
  }
  .col2 .cards {
    margin-left: 0;
    margin-right: 0;
  }
  .sign {
    gap: 10px;
  }
  .modal-body .circle2 {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  .modal-content {
    width: 100%;
  }
  .modal-body .circle2 {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .modal-body .h1 {
    transition: 0.5s;
    line-height: inherit;
    text-align: center;
  }
  .circle2:hover,
  .circle2:hover .icon4,
  .circle2:hover .h1 {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .movil {
    color: white;
    padding-right: 3rem;
    font-size: 2rem;
    cursor: pointer;
    display: block;
  }
  .movil > .moves {
    display: none;
    transition: 0.5s;
  }
  .desktop {
    display: none;
  }
  #image .title {
    left: 11%;
    font-size: x-large;
  }
  #image #logo2 {
    top: 95px;
    height: 100px;
    left: 37%;
  }
  #image #logo1 {
    top: 95px;
    height: 100px;
    left: 13%;
  }
  .col2 div img {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #tilt {
    height: 500px;
    background-image: url("./xmovil.png");
  }
  .slidelogo {
    right: 25%;
    top: 10%;
  }
  .slidelogo img {
    height: 500px;
  }
  .slide {
    right: 18%;
    top: 15%;
  }
  .slide img {
    height: 500px;
  }
  #header {
    background-image: url("./bg-movil1.jpg");
    background-size: cover;
    margin-top: 3.5rem;
    animation-name: example;
    animation-duration: 1s;
  }
  .text1 {
    margin: auto auto auto 25px;
    grid-gap: 30px;
    width: 350px;
    padding-top: 100%;
  }
  .text2 {
    width: 85%;
    margin: auto auto auto 50px;
  }
  .text3 {
    margin: auto auto auto 25px;
    grid-gap: 30px;
    width: 350px;
  }
  .three {
    padding-bottom: 2rem;
  }
  #nonemovil {
    display: none;
  }
  #image .title {
    left: 27%;
    font-size: x-large;
  }
  #image #logo2 {
    top: 165px;
    height: 200px;
    left: 36%;
  }
  #image #logo1 {
    top: 165px;
    height: 200px;
    left: 13%;
  }
  .card {
    width: 90%;
    height: auto;
  }
  .card p {
    height: auto;
  }
  .col2 {
    background-image: linear-gradient(110deg, #1b4368, #c1c6c9);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
  }
  .col2 .cards {
    margin-left: 0;
    margin-right: 0;
  }
  .col2 div img {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .slidelogo {
    right: 10%;
    top: 18%;
  }
  .slidelogo img {
    height: 250px;
  }
  .slide {
    right: 8%;
    top: 20%;
  }
  .slide img {
    height: 250px;
  }
  .text1 {
    margin: 57px auto 0 30px;
    padding-top: 15px;
  }
  .text3 {
    margin: 0 auto 0 30px;
  }
  .text2 {
    margin: 5px 570px 0 55px;
  }
  .three {
    padding-bottom: 1rem;
  }
  #nonemovil {
    display: none;
  }
  #image .title {
    left: 28%;
  }
  #image #logo2 {
    top: 110px;
    height: 250px;
    left: 38%;
  }
  #image #logo1 {
    top: 110px;
    height: 250px;
  }
  #tilt {
    height: 500px;
  }
  .card {
    width: 90%;
    height: auto;
  }
  .card p {
    height: auto;
  }
  .col2 .cards {
    margin-left: 0;
    margin-right: 0;
  }
  .col2 div img {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
  .lower {
    top: 595px;
  }
  .slidelogo {
    right: 15%;
    top: 15%;
  }
  .text2 {
    width: 37%;
  }
  .slide {
    right: 12%;
    top: 20%;
  }
}
