section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 1em;
    margin-top: 4.5rem;
  }
  article {
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: 1px solid #dee2e6;
    grid-column: 3/11;
  }
  .small {
    grid-column: 4/10;
  }
  article > h1 {
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  .form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em;
    gap: 1em;
  }
  .formsmall {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 1em;
    gap: 1em;
  }
  .mid {
    grid-column: 1/-1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .col-4 {
    grid-column: 3;
  }
  .col-5 {
    grid-column: 4;
  }
  .form > label,
  .formsmall > label {
    line-height: 2em;
    text-align: right;
    font-size: 17px;
    padding-right: 1rem;
  }
  .form > span {
    grid-column: 3/5;
  }
  input,
  select {
    border: 2px solid rgba(128, 128, 128, 0.5);
    padding: 0.5em;
    border-radius: 0.25rem;
    /* font-size: 18px; */
    transition: 0.5s;
  }
  input:focus {
    border: 2px solid rgba(128, 128, 128, 1);
  }
  .none {
    text-decoration: none;
  }
  .t-white {
    color: #ffffff;
  }
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .rows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
  .rows > button {
    border: 0;
    border-radius: 00.5rem;
    color: #ffffff;
    font-size: xx-small;
    cursor: pointer;
  }
  /* Slider */
  .sidenav {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(13, 30px);
    grid-gap: 10px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #6c757d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }
  .sidenav-right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color: #6c757d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }
  .float-left {
    float: left !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.7;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding-left: 1.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  #open {
    display: none;
  }
  .float-right {
    float: right !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.7;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .sidenav a {
    padding: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .sidenav-right a {
    padding: 24px 8px 8px 24px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .sidenav-right button {
    margin: 16px 8px 8px 24px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
  }
  #cipbits-movil {
    display: none;
  }
  .sidenav a:hover {
    color: #cccccc;
    font-size: 110%;
  }
  .link {
    color: #007bff;
  }
  .link:hover,
  .none:hover {
    text-decoration: underline;
  }
  #close {
    display: none;
  }
  .note {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.4em;
    font-weight: 700;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #ffffff;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  /* / slider */
  /*drop*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 125px;
    top: 11px;
    background-image: linear-gradient(#6c757d, #000000);
    width: 300px;
    height: 350px;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 1s;
  }
  .show {
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transition: 5s;
  }
  /*Carousel*/
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  .mySlides {
    display: none;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 71%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .texts {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 75px;
    width: 100%;
    text-align: center;
  }
  .texts select {
    background-color: transparent;
    color: #ffffff;
    border: none;
    appearance: none;
  }
  .texts select option {
    background-color: black;
    color: #fff;
    border: none;
    appearance: none;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .text-content {
    position: absolute;
    top: 35%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 13px;
    color: white;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
  @media (max-width: 1366px) {
    article {
      grid-column: 2/12;
    }
  }
  @media (max-width: 480px) {
    .small {
      grid-column: 1/-1;
    }
    section {
      grid-template-columns: 1fr;
    }
    article {
      grid-column: 1/-1;
    }
    .form > label,
    .formsmall > label {
      text-align: initial;
    }
    .form {
      grid-template-columns: 1fr;
    }
    #cipbits {
      display: none;
    }
    #Docs {
      display: none;
    }
    #Review {
      display: none;
    }
    #open {
      display: block;
    }
    nav > a {
      cursor: pointer;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      color: #ffffff;
      text-decoration: none;
    }
    #cipbits-movil {
      display: block;
    }
    .dropdown-content {
      right: 106px;
      top: 24px;
    }
    .cipbits {
      top: 2px;
    }
    .available input,
    .available select {
      width: -moz-available;
      width: -webkit-fill-available;
    }
    .available {
      display: inline-block;
    }
  }