* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Colors */
.c-blueshield {
  background-color: #1b4368;
}
.c-greendollar {
  background-color: #325c3e;
}
.c-grey {
  background-color: #6c757d;
}
.c-greylight {
  background-color: #c1c6c9;
}
.c-green {
  background-color: #28a745;
}
.c-black {
  background-color: #000000;
}
.c-purple {
  background-color: #c135e6;
}
.c-yellow {
  background-color: #b39640;
}
.c-orange {
  background-color: #f25e3d;
}
.c-magenta {
  background-color: #cf3476;
}
.c-navyblue {
  background-color: #0c3ce8;
}
.c-red {
  background-color: #dc3545;
}
.c-bluelight {
  background-color: #17a2b8;
}
.c-blue {
  background-color: #007bff;
}
.t-white {
color: #ffffff;
}
.t-black {
color: #000000;
}
.t-24 {
font-size: 24px;
}
.t-18 {
font-size: 18px;
}
.none {
text-decoration: none;
}
/* /colors */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 41px;
}
nav > div > a {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
}
nav > a {
  text-decoration: none;
}
nav > a:hover {
  font-size: 110%;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #303030;
  transition: 0.5s;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #c1c6c9;
  min-width: 254px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  transition: 0.5s;
}
.dropdown-content1 a {
  color: #000000;
  padding: 12px 40px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.dropdown-content1 a:hover {
  background-color: #d9dcdf;
  font-size: 110%;
  color: #303030;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown1:hover .badge {
  font-size: 110%;
  color: #000000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.right {
grid-column: 4;
}
input {
border: 2px solid rgba(128, 128, 128, 0.5);
padding: 0.5em;
border-radius: 0.25rem;
font-size: 18px;
transition: 0.5s;
}
.librery {
display: block;
width: 85%;
margin: 1rem;
}
a {
cursor: pointer;
color: #007bff;
}
/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-green {
  color: #f8f9fa;
  background-color: #28a745;
}
.btn-grey {
  color: #f8f9fa;
  background-color: #6c757d;
}
.btn-blue {
  color: #f8f9fa;
  background-color: #007bff;
}
.btn-red {
color: #f8f9fa;
background-color: #dc3545;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.down {
color: #dc3545;
}
.up {
color: #28a745;
}
/*CIPBITS*/
.cipbits {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.cipbitsActive {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  right: 10px;
  cursor: pointer;
  overflow: visible;
  border: 3px solid white;
}
.cipbits::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -150%;
  top: -150%;
  width: 400%;
  height: 400%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 55%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(#6c757d, #6c757d), linear-gradient(#fff, #fff),
    linear-gradient(#6c757d, #6c757d);
  animation: rotate 6s linear infinite;
}

.cipbits::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3.5px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #6c757d;
  border-radius: 5px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.text {
  text-align: center;
  top: 5px;
  position: relative;
  color: white;
}