* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Colors */
.c-blueshield {
  background-color: #1b4368;
}
.c-greendollar {
  background-color: #325c3e;
}
.c-grey {
  background-color: #6c757d;
}
.c-greylight {
  background-color: #c1c6c9;
}
.c-green {
  background-color: #28a745;
}
.c-black {
  background-color: #000000;
}
.c-purple {
  background-color: #c135e6;
}
.c-yellow {
  background-color: #b39640;
}
.c-orange {
  background-color: #f25e3d;
}
.c-magenta {
  background-color: #cf3476;
}
.c-navyblue {
  background-color: #0c3ce8;
}
.c-red {
  background-color: #dc3545;
}
.c-bluelight {
  background-color: #17a2b8;
}
.c-blue {
  background-color: #007bff;
}
.down {
  color: #dc3545;
}
.up {
  color: #28a745;
}
.t-blue {
  color: #007bff;
}
.t-white {
  color: #ffffff;
}
.t-black {
  color: #303030;
}

/* /colors */
/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 41px;
}
nav > div > a {
  cursor: pointer;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
}
  nav > a {
    cursor: pointer;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
  }
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #303030;
  transition: 0.5s;
}
.dropdown1,
.dropdown2,
.dropdown3 {
  position: relative;
  display: inline-block;
}
.dropdown-content1,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #c1c6c9;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  transition: 0.5s;
}
.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
  background-color: #d9dcdf;
  font-size: 110%;
  color: #303030;
}
.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3 {
  display: block;
}
.dropdown1:hover .badge,
.dropdown2:hover .badge,
.dropdown3:hover .badge {
  font-size: 110%;
  color: #000000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-green {
  color: #f8f9fa;
  background-color: #28a745;
}
.btn-green:hover {
  color: #f8f9fa;
  background-color: #218838;
  border-color: #5ca76d;
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-grey {
  color: #f8f9fa;
  background-color: #6c757d;
}
.btn-blue {
  color: #f8f9fa;
  background-color: #007bff;
}
.btn-red {
  color: #f8f9fa;
  background-color: #dc3545;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
/* /Buttons */
/* /Navbar */
/* Slider */
.sidenav {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(18, 27px);
  gap: 10px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0px;
  background-color: #6c757d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}
.sidenav-right {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0;
  background-color: #6c757d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}
.float-left {
  float: left !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.7;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding-left: 1.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#open {
  display: none;
}
.float-right {
  float: right !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.7;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.sidenav a {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav-right a,
.sidenav-right p {
  padding: 24px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav-right button {
  margin: 16px 8px 8px 24px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  transition: 0.3s;
}
#cipbits-movil {
  display: none;
}
.sidenav .second {
  font-size: 13px;
}
.sidenav a:hover {
  color: #cccccc;
  font-size: 110%;
}
.sidenav .second:hover {
  font-size: 100%;
}
#close {
  display: none;
}
.note {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.4em;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* / slider */